/* Startpage  Css
   By Dylan Araps */
html,
body,
ul {
  margin: 0;
  padding: 0;
}

body {
  background: #232221;
  height: 100%;
  width: 100%;
}

main {
  display: block;
  font-family: Iosevka;
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 100%;
}

h1 {
  color: #C9C9C8;
  display: block;
  margin: 0 auto;
  text-align: left;
  width: 400px;
}

hr {
  border: 0;
  opacity: .4;
  width: 400px;
}

ul {
  display: block;
  margin: 0 auto;
  width: 400px;
}

li {
  color: #DFE1E0;
  display: inline-block;
  font-size: 1em;
  line-height: 1.0;
  list-style: none;
  margin: 5px;
}

a {
  color: #DEE0DF;
  text-decoration: none;
  transition: .2s;
}

a:hover {
  color: #7b7a79;
}
