/* Startpage  Css
   By Dylan Araps */
html,
body,
ul {
  margin: 0;
  padding: 0;
}

body {
  background: #0B0C0C;
  height: 100%;
  width: 100%;
}

main {
  display: block;
  font-family: Iosevka;
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 100%;
}

h1 {
  color: #5B6454;
  display: block;
  margin: 0 auto;
  text-align: left;
  width: 400px;
}

hr {
  border: 0;
  opacity: .4;
  width: 400px;
}

ul {
  display: block;
  margin: 0 auto;
  width: 400px;
}

li {
  color: #AA9064;
  display: inline-block;
  font-size: 1em;
  line-height: 1.0;
  list-style: none;
  margin: 5px;
}

a {
  color: #9B734A;
  text-decoration: none;
  transition: .2s;
}

a:hover {
  color: #6c6d6d;
}
